<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Karakter Detay</title>
</head>

<body>
    <%- include('./partials/navbar') %> <!-- Navbar inclusion -->

        <div class="container mt-3">
            <div class="row ">
                <!-- Sol Taraf: Karakter Resmi -->
                <div class="col-md-4">
                    <img src="/img/<%= karakter.image %>.webp" class="img-fluid rounded-top"
                        alt="<%= karakter.karakterAdı %>">
                </div>

                <!-- Sağ Taraf: Karakter Detayları -->
                <div class="col-md-8">
                    <h2>
                        <%= karakter.karakterAdı %>
                    </h2>
                    <p><strong>Açıklama:</strong>
                        <%= karakter.açıklama %>
                    </p>
                    <p><strong>Tipi:</strong>
                        <%= karakter.Tipi %>
                    </p>
                </div>
            </div>
        </div>
        <%- include('./partials/footer') %>
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
</body>

</html>